In [1]:
import os
import pandas as pd
from biosppy.signals import ecg

In [2]:
# Diretorio dos arquivos
dir_data = "C:/Users\mathe\Documents\Experimentos Anteprojeto\MUSE - ECG DATASET\ECGData1"
dir_target = "C:/Users\mathe\Documents\Experimentos Anteprojeto\Diagnostics.xlsx"

In [3]:
dfclas = pd.read_excel(dir_target)
dfclas.head()

,FileName,Rhythm,Beat,PatientAge,Gender,VentricularRate,AtrialRate,QRSDuration,QTInterval,QTCorrected,RAxis,TAxis,QRSCount,QOnset,QOffset,TOffset
0,MUSE_20180113_171327_27000,AFIB,RBBB TWC,85,MALE,117,234,114,356,496,81,-27,19,208,265,386
1,MUSE_20180112_073319_29000,SB,TWC,59,FEMALE,52,52,92,432,401,76,42,8,215,261,431
2,MUSE_20180111_165520_97000,SA,NONE,20,FEMALE,67,67,82,382,403,88,20,11,224,265,415
3,MUSE_20180113_121940_44000,SB,NONE,66,MALE,53,53,96,456,427,34,3,9,219,267,447
4,MUSE_20180112_122850_57000,AF,STDD STTC,73,FEMALE,162,162,114,252,413,68,-40,26,228,285,354

In [4]:
nomes = []

for diretorio, subpastas, arquivos in os.walk(dir_data):
    for arquivo in arquivos:
        a = os.path.join(diretorio, arquivo)                      # Variável com o nome do Diretório do arquivo
        #df = pd.read_csv(a)                                       # Abre o arquivo do Diretório
        nomes.append(arquivo)                                        # Adiciona od dados BPM em uma lista


nomes

['MUSE_20180111_155115_19000.csv',
 'MUSE_20180111_155154_74000.csv',
 'MUSE_20180111_155203_15000.csv',
 'MUSE_20180111_155249_70000.csv',
 'MUSE_20180111_155542_84000.csv']

In [5]:
indvíduo = []
classe = []
anomalia = []
listaBPM = []

for diretorio, subpastas, arquivos in os.walk(dir_data):
    for arquivo in arquivos:
        
        # Lista o Arquivo
        #print(arquivo)
        
        # Nome do indivíduo
        b = arquivo.replace(".csv","")                           # Define o nome do indivíduo, de acordo com o arquivo
        indvíduo.append(b)
        c = dfclas.loc[dfclas['FileName'] == b]                  # Procura a linha que tem os dados do indivído
        d = str(c['Rhythm'])                                     # Procura a coluna com os dados do indivíduo
        e = d.split()                                            # Separa os dados em strings
        #print(e[1])                                              # imprime somente o indice que tem a classificação
        classe.append(e[1])
        
        # Classificação binaria anomalia = 1, normal = 0
        if e[1] == 'SR':
            #print('1')
            anomalia.append(1)
        else:
            #print('0')
            anomalia.append(0)
        
        # Converte BPM
        a = os.path.join(diretorio, arquivo)                      # Variável com o nome do Diretório do arquivo
        df = pd.read_csv(a)                                       # Abre o arquivo do Diretório
        y = df["II"].values                                       # Valores para y correspondem a Temperatura aparente
        out = ecg.ecg(signal=y, sampling_rate=500., show=False)   # Insere os dados na biblioteca SSPY
        z = out['heart_rate']                                     # Extrai os dados em BPM
        listaBPM.append(z)                                        # Adiciona od dados BPM em uma lista
       
"""        s1 = pd.Series([b, classe, anomalia, z])

        df = pd.DataFrame([list(s1)],  columns =  ["Nome", "Classe", "Anomalia", "BPM"])
        df
"""

listaBPM

[array([131.23061796, 126.66537003, 123.73989647, 123.37773509,
        125.01750946, 126.43023814, 126.79239952, 128.57353375,
        128.75694595, 124.63194182, 123.72258637, 123.90757971,
        130.34258615, 130.70168481, 125.33408559, 121.78281648,
        120.72340092, 125.9060068 , 127.3306858 ]),
 array([114.03818953, 102.95237937,  91.09640747, 113.73729715,
        119.86278986, 116.92665088, 103.89754712, 102.09379532,
        110.12183693, 110.47979798, 109.63804714, 105.42929293,
        113.997114  , 125.74056476, 132.39311174, 129.4256491 ]),
 array([66.81256097, 75.43377035, 79.5676889 , 71.69135637, 56.49653411,
        48.11067098, 44.77937202, 58.6673891 , 70.23373788]),
 array([117.21932233, 117.21932233, 117.06370937, 118.42146214,
        116.91858413, 116.91858413, 116.76297117, 118.11023622,
        117.80265748, 116.45539243, 116.30099996, 116.76419166,
        118.11145671, 117.95827044, 116.45539243, 116.30099996,
        116.76419166, 118.26706967]),
 array([ 85.7693227 ,  80.3772154 ,  93.77895042,  94.63967505,
        100.13353038,  80.99432218,  79.98836692,  84.80419102,
        106.31357806, 117.60634486, 104.31581738, 100.7496332 ,
        111.57990528])]

In [6]:
indvíduo

['MUSE_20180111_155115_19000',
 'MUSE_20180111_155154_74000',
 'MUSE_20180111_155203_15000',
 'MUSE_20180111_155249_70000',
 'MUSE_20180111_155542_84000']

In [7]:
classe

['ST', 'AFIB', 'AFIB', 'ST', 'AF']

In [8]:
anomalia

[0, 0, 0, 0, 0]

In [9]:
"""s1 = pd.Series([5, 6, 7])
s2 = pd.Series([7, 8, 9])"""

df1 = pd.DataFrame(columns =  ["Indivíduo", "Classe", "Anomalia", "BPM"])
i = 0

for item in indvíduo:
    df1.loc[i] = [indvíduo[i], classe[i], anomalia[i], listaBPM[i]]  # adding a row
    i += 1
    
    
df1

,Indivíduo,Classe,Anomalia,BPM
0,MUSE_20180111_155115_19000,ST,0,"[131.23061795628166, 126.66537002820186, 123.7..."
1,MUSE_20180111_155154_74000,AFIB,0,"[114.03818953323903, 102.95237937024766, 91.09..."
2,MUSE_20180111_155203_15000,AFIB,0,"[66.81256097239432, 75.43377035323475, 79.5676..."
3,MUSE_20180111_155249_70000,ST,0,"[117.21932233050717, 117.21932233050718, 117.0..."
4,MUSE_20180111_155542_84000,AF,0,"[85.76932270356154, 80.37721540062621, 93.7789..."

In [10]:
df1['BPM'][3]

array([117.21932233, 117.21932233, 117.06370937, 118.42146214,
       116.91858413, 116.91858413, 116.76297117, 118.11023622,
       117.80265748, 116.45539243, 116.30099996, 116.76419166,
       118.11145671, 117.95827044, 116.45539243, 116.30099996,
       116.76419166, 118.26706967])

In [11]:
df1.to_csv('nova_base.csv')